
{{title}}
<div class="container-fluid">
    <h2>Add a task</h2>

    <hr>


<form class="add-form" action="/todos/add" method="POST">
    <div class="form-group">
        <div class="row addtaskform text-center">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">



            <input name="task" class="form-control" id="exampleInputEmail1" aria-describedby="task submission" placeholder="Task">
        </div>


    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </div>
</form>
<hr>

    <h2>To do list</h2>

    {{#each todolist}}

        <div class="row itemlist">
            <div class="col-md-6 ">
                <form  action="/todos/done/{{id}}" id="form{{id}}" method="POST" class="form-horizontal">
                    <input id="checkbox1" type="checkbox" {{#if done}}checked{{/if}} onclick="document.querySelector('#form{{id}}').submit()">
                        <label for="checkbox1">{{description}}</label>
                </form>
            </div>

            <div class="col-md-6">
                <form action ="/todos/delete/{{id}}" id="form_delete{{id}}" method="POST" class="form-horizontal" >
                    <input class="close" type="submit" value="&times;"></input>
                </form>
            </div>
        </div> <!-- end to-do-list -->


    {{/each}}


    </div>